.info {
  width: 200px;
  height: 100px;
}
#imageHolder img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
#flow{
  display: inline-block;
}

#error {
  background-color: #ee6e73;
  color: white;
  border-radius: 10px;
  height: 100%;
  font-size: 18px;
  text-align: center;
}

#errorWrapper {
  display: none;
}

#noResult {
  background-color: #ee6e73;
  color: white;
  border-radius: 10px;
  height: 100%;
  font-size: 18px;
  text-align: center;
}

#noResultWrapper {
  display: none;
}

#preloader {
  border-radius: 10px;
  display: none;
}
